extends default

block content
  div(class="container-fluid")
    div(class="row justify-content-md-center")
      div(class="col-md-auto")
        img(src="/images/GitHub-Mark-120px-plus.png" width="250" height="250" class="p-4 rounded mx-auto d-block")
    
    div(class="row justify-content-md-center")
      div(class="col-md-auto")
        h3(class="text-center mt-5") GitHub API
    
    div(class="row justify-content-md-center")
      div(class="col-md-auto")
        div(class="row")
          div(class="col-5")
            label(for="ownerInput") Repo Project / Owner
          div(class="col-5")
            label(for="repoInput") Repo Name
        form(action='/search' method='GET' class="form-inline mx-auto")
          div(class="form-row align-items-center")
            div(class="col-auto")
              input(id="ownerInput" class="form-control mb-5" type="text" name="owner" placeholder="ex. nodejs")
            div(class="col-auto")
              input(id="repoInput" class="form-control mb-5" type="text" name="repo" placeholder="ex. node")
            div(class="col-auto")
              input(id="submit" type="submit" class="btn btn-primary ml-2 mb-5" value="Submit")

      
    
